#IDEs und Editoren (VS Code, WebStorm etc.)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

#Betriebssystem-Dateien (Mac & Windows)
.DS_Store
Thumbs.db
ehthumbs.dbDesktop.ini

#Falls Tools wie npm genutzt wird (Node.js)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Temporäre Dateien und Caches
.cache/
.tmp/
dist/