@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

@font-face {
    font-display: swap;
    font-family: "Ewert";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/ewert-v27-latin-regular.woff2") format("woff2");
}
